pipeline/Incremental_data_load.json
{
	"name": "Incremental_data_load",
	"properties": {
		"activities": [
			{
				"name": "last_load",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT  last_load  as last_load FROM [dbo].[water_mrk_table]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "carsales",
						"type": "DatasetReference",
						"parameters": {
							"p_tablename": " [dbo].[water_mrk_table]"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "current_load",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(date_id) as max_date from \n [dbo].[source_cars_data]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "carsales",
						"type": "DatasetReference",
						"parameters": {
							"p_tablename": "[dbo].[source_cars_data]"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "copy_Incremental_data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "last_load",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "current_load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from [dbo].[source_cars_data] where date_id >\n '@{activity('last_load').output.value[0].last_load}' AND  date_id <= \n'@{activity('current_load').output.value[0].max_date}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "carsales",
						"type": "DatasetReference",
						"parameters": {
							"p_tablename": "[dbo].[source_cars_data]"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_bronze_parqet",
						"type": "DatasetReference",
						"parameters": {
							"p_container": "bronze",
							"p_foldername": "carsales"
						}
					}
				]
			},
			{
				"name": "watermark_update",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "copy_Incremental_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[updatewatermarktable]",
					"storedProcedureParameters": {
						"last_load": {
							"value": {
								"value": "@{activity('current_load').output.value[0].max_date}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sqldb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "silver_notebook",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "watermark_update",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/test127896@gmail.com/databrick_carsales_project/Silver_notebook"
				},
				"linkedServiceName": {
					"referenceName": "PivoteUnpite",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "incremental_load_practice"
		},
		"annotations": [],
		"lastPublishTime": "2025-11-08T16:23:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}