pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_param_file_level",
						"type": "DatasetReference",
						"parameters": {
							"p_container_name": "source",
							"p_folder_name": "rawgolddata",
							"p_file_name": "gold_demand_sector.csv"
						}
					},
					"fieldList": [
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_temp",
					"value": {
						"value": "activity('Get Metadata1').output.lastModified",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"v_temp": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-11-04T01:41:13Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}