pipeline/pl_emr_source_landing.json
{
	"name": "pl_emr_source_landing",
	"properties": {
		"activities": [
			{
				"name": "lkp_EMP_configs",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "generic_adls_flat_file_ds",
						"type": "DatasetReference",
						"parameters": {
							"containername": "configs",
							"filename": "load_config.csv",
							"filepath": "emr"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lkp_EMP_configs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lkp_EMP_configs').output",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "file_exists",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "generic_adls_parquet_ds",
									"type": "DatasetReference",
									"parameters": {
										"containername": "bronze",
										"foldername": {
											"value": "@item().targetpath",
											"type": "Expression"
										},
										"filename": {
											"value": "@split(item().tablename,',')[1]",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"itemType"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "file_exists",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('file_exists').output,1)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Full_load_cp",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "ParquetSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "ParquetReadSettings"
												}
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "generic_adls_parquet_ds",
												"type": "DatasetReference",
												"parameters": {
													"containername": {
														"value": "bronze",
														"type": "Expression"
													},
													"foldername": {
														"value": "item().targetpath",
														"type": "Expression"
													},
													"filename": {
														"value": "@split(item().filename,'.')[1]",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "generic_adls_parquet_ds",
												"type": "DatasetReference",
												"parameters": {
													"containername": "bronze",
													"foldername": "@concat(item().targetpath,'/archive/',formatDateTime(utcNow(),'yyyy'),formatDateTime(utcNow(),'%M'),formatDateTime(utcNow(),'%d'))",
													"filename": "@split(item().filename,'.')[1]"
												}
											}
										]
									}
								]
							}
						},
						{
							"name": "If Condition2",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "If Condition1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().loadtype,'Full')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "fetch_logs",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureDatabricksDeltaLakeSource",
												"query": {
													"value": "@concat('select coalesce(cast(max(loaddate) as date),''','1900-01-01',''') as last_fetched_date from audit.load_logs where',' data_source=''',item().datasource,''' and tablename=''',item().tablename,'''')",
													"type": "Expression"
												}
											},
											"dataset": {
												"referenceName": "generic_delta_lake_ds",
												"type": "DatasetReference",
												"parameters": {
													"schema_name": "a",
													"table_name": "a"
												}
											}
										}
									},
									{
										"name": "Incremental_load_cp",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "fetch_logs",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "@concat('select *,''',item().datasource,''' as datasource from ',item().tablename,' where ',item().watermark,' >= ''',activity('fetch_logs').output.firstRow.last_fetched_date,'''')",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "generic_sql_ds",
												"type": "DatasetReference",
												"parameters": {
													"db_name": {
														"value": "@item().databasename",
														"type": "Expression"
													},
													"schema_name": {
														"value": "@split(item().tablename,'.')[0]",
														"type": "Expression"
													},
													"table_name": {
														"value": "@split(item().tablename,'.')[1]",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "generic_adls_parquet_ds",
												"type": "DatasetReference",
												"parameters": {
													"containername": "bronze",
													"foldername": {
														"value": "@item().targetpath",
														"type": "Expression"
													},
													"filename": {
														"value": "@split(item().tablename,',')[1]",
														"type": "Expression"
													}
												}
											}
										]
									}
								],
								"ifTrueActivities": [
									{
										"name": "Full_Load_CP",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "@concat('select *, ''',item().datasource,''' as datasource from ',item().tablename)",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "AzureSqlSink",
												"writeBehavior": "insert",
												"sqlWriterUseTableLock": false
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "generic_sql_ds",
												"type": "DatasetReference",
												"parameters": {
													"db_name": "@item().databasename",
													"schema_name": "@split(item().tablename,'.')[0]",
													"table_name": "@split(item().tablename,'.')[1]"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "generic_sql_ds",
												"type": "DatasetReference",
												"parameters": {
													"db_name": {
														"value": "@item().databasename",
														"type": "Expression"
													},
													"schema_name": {
														"value": "@split(item().tablename,'.')[0]",
														"type": "Expression"
													},
													"table_name": {
														"value": "@split(item().tablename,'.')[1]",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "Insert_logs_Full_Load",
										"type": "Lookup",
										"dependsOn": [
											{
												"activity": "Full_Load_CP",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureDatabricksDeltaLakeSource",
												"query": {
													"value": "@concat('insert into audit.load_logs(data_source,tablename,numberofrowscopied,watermarkcolumnname,loaddate) values (''',item().datasource,''', ''',item().tablename,''',''',activity('Full_Load_CP').output.rowscopied,''',''',item().watermark,''',''',utcNow(),''')')",
													"type": "Expression"
												}
											},
											"dataset": {
												"referenceName": "generic_delta_lake_ds",
												"type": "DatasetReference",
												"parameters": {
													"schema_name": "aaa",
													"table_name": "aa"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "healthcare_project"
		},
		"annotations": [],
		"lastPublishTime": "2025-12-29T01:55:23Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}